// ========================================== //
//      Normalizer & Personal rules
// ========================================== //

// Pour la grid
*, *::before, *::after{ box-sizing: border-box; }

a { 
    text-decoration: none; 
    color: #000000;
}

ol, ul { 
    list-style-type: none; 
    padding: 0;
    margin: 0;
}

html {
    font-family: "roboto", sans-serif;
    font-size: 16px;
}

body {
    margin: 0;
    font-size: 62,5%; //10px
} 

strong {color: $black;}