.design {
  display: flex;
  flex-direction: row;

  .design-leftside {
    width: 50%;
    .bottle-img {
      width: 100%;
      max-width: 100%;
      height: auto;
      display: block;
    }
  }

  .design-rightside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;

    h2 {
      font-size: 24px;
      font-weight: 700;
    }

    .separator {
      display: block;
      width: 40px;
      height: 1px;
      background: #1e1e1e;
      margin: 30px auto;
    }
    .design-descr {
      font-family: "Lato", sans-serif;
      font-size: 13px;
      font-weight: 400;
      text-transform: uppercase;
      max-width: 400px;
      width: calc(100% - 40px);
      text-align: center;
    }

    p {
      font-family: "Merriweather", serif;
      font-weight: 300;
      font-style: italic;
      font-size: 14px;
      text-align: center;
      margin-top: 40px;
      font-size: 14px;
      max-width: 600px;
      width: calc(100% - 40px);
    }
  }
}

@media (max-width: $sm) {
  .design {
    flex-direction: column-reverse;

    .design-leftside {
      width: 100%;
    }
    .design-rightside {
      width: 100%;
      margin: 50px 0;
    }
  }
}
