.form {
  padding: 150px 0;

  .title {
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: $black;
    margin-bottom: 90px;
  }

  .input-container {
    position: relative;
    overflow: hidden;
    width: 100%;

    input[type="text"] {
      font-family: "Lato", sans-serif;
      font-size: 13px;
      color: #5d5d5d;
      width: 100%;
      border: 2px solid #d9d9d9;
      padding: 12px 20px 12px 40px;
    }

    .logo-icon {
      position: absolute;
      top: 12px;
      right: 12px;
    }

    &.first-margin {
      margin-right: 20px;
    }
  }

  .form-message {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    .first-row {
      display: flex;
      align-items: center;
      margin-bottom: 25px;
      width: 100%;
    }

    .name {
      margin-right: 25px;
      width: 50%;
      background-color: $white;
    }

    .email {
      width: 50%;
    }
    .country {
      margin-right: 25px;
      width: 50%;
    }
    .telephone {
      width: 50%;
    }

    .second-row {
      display: flex;
      align-items: center;
      margin-bottom: 25px;
      width: 100%;
    }

    .textfield {
      font-family: "Lato", sans-serif;
      font-size: 13px;
      color: #5d5d5d;
      resize: none;
      width: 100%;
      height: 250px;
      border: 2px solid #d9d9d9;
      background-color: $white;
      padding: 12px 20px 12px 40px;
      position: relative;
    }
    .input-container {
      text-align: center;
      
      #btn-send {
        font-family: "Lato", sans-serif;
        font-weight: bold;
        font-style: italic;
        font-size: 13px;
        text-align: center;
        background-color: #2a2a2a;
        border: 1px solid #2a2a2a;
        color: $white;
        padding: 15px 32px;
        text-decoration: none;
        display: inline-block;
        margin: 0 auto;
        margin-top: 45px;
        cursor: pointer;

        &:hover{
          background-color: $white;
          color: #2a2a2a;
          border: 1px solid #2a2a2a;
        }
      }
    }
  }
}

@media (max-width: $md) {
  .form {
    padding: 50px 0;

    .title {
      margin-bottom: 45px;
    }

    .first-row {
      flex-direction: column;

      .input-container {
        margin: 0 auto;
      }

      .name {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 25px;
      }
      .email {
        width: 100%;
        margin: 0 auto;
      }
    }
    .second-row {
      flex-direction: column;
      .input-container {
        margin: 0 auto;
      }

      .country {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 25px;
      }
      .telephone {
        width: 100%;
        margin: 0 auto;
      }
    }
  }
}
